:root {
  font-family: 'Oswald-Regular','AktivGrotesk-XBold', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "AktivGrotesk-XBold";
  src: local("AktivGrotesk-XBold"),
  url(./assets/fonts/AktivGrotesk-XBold.ttf) format("truetype");
}

@font-face {
    font-family: "Oswald-Regular";
    src: local("Oswald-Regular"),
    url(./assets/fonts/Oswald-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Oswald-Bold";
    src: local("Oswald-Bold"),
    url(./assets/fonts/Oswald-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Oswald-Medium";
    src: local("Oswald-Medium"),
    url(./assets/fonts/Oswald-Medium.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;